* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}

.card {
  width: 100%;
  overflow-y: hidden;
}

.flex-div {
  background-image: url(./images/magazine-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 60%;
  padding-top: 4rem;
  margin-inline: auto;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50rem;
  padding-top: 10rem;
}

.border {
  padding: 15px !important;
  padding-inline: 15rem;
  border: 3px solid yellow;
  border-bottom: none;
  height: 140rem;
  border-radius: 15px;
}

.right-div {
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.left-div {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.title {
  font-family: "Reddit Mono", monospace;
  padding-inline: 8rem;
}

.date {
  text-align: end;
  padding-bottom: 3px;
}
h1 {
  font-size: 7rem;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: italic;
}
.year {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.span-h2 {
  font-weight: 900;
  font-style: italic;
  font-family: "Reddit Mono", monospace;
}

.left-div {
  width: 30rem;
  height: 40rem;
}

.h2-2 {
  font-size: 7rem;
  font-family: 'poetsen One', sans-serif;
  color: yellow;
}

.right-div {
  width: 40rem;
  height: 60rem;
  text-align: end;
}
h2 span {
  font-size: 1.5rem;
  font-size: 200;
}
h2 {
  font-size: 5rem;
}
