* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  background-color: hsl(39, 100%, 50%);
}

.card {
  background-image: url(./images/lady-img.jpg);
  background-repeat: no-repeat;
  background-position: top;
  margin: auto;
  height: 100vh;
  width: 100%;
}

.h1 {
  padding-block: 2rem;
}

h1 {
  font-size: 9rem;
  text-align: center;
}

.h1 p {
    text-align: end;
    padding-right: 18rem;
}

.flex-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 4rem;
  margin-inline: auto;
  padding-left: 9rem;
  gap: 10rem;
}

.flex-div div {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.left-div {
  margin-left: 20rem;
}

.right-div {
  width: 30rem;
  text-align: end;
  margin-right: 36rem;
}

h2 span {
    font-size: 1.5rem;
    font-size: 200;
}

h2 {
  font-size: 5rem;
}


@media(max-width:700px) {
  .card {
    background-image: url(./images/lady-img.jpg);
    background-repeat: no-repeat;
    background-position: top;
    margin: auto;
    height: 100vh;
    width: 100%;
  }
  
  .h1 {
    padding-block: 2rem;
  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  
  .h1 p {
      text-align: end;
      padding-right: 23.5rem;
      font-size: 2rem;
  }
  
  .flex-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 8rem;
    padding-inline: 2rem;
    flex-direction: column;
  }
  
  .flex-div div {
    display: flex;
    flex-direction: column;
    gap: 7rem;
  }

  .flex-div > * p {
    font-size: 2rem;
  }

  .left-div {
    margin-left: 3rem;
  }
  
  .right-div {
    width: 10rem;
    text-align: end;
    margin-left: 28rem;
  }
  
  h2 span {
      font-size: 1.5rem;
      font-size: 200;
  }
  
  h2 {
    font-size: 0.1rem;
  }
}
  
   @media(max-width:850px) {

    body {
      background-color: hsl(39, 100%, 50%);
    }
    .card {
      background-image: url(./images/lady-img.jpg);
      background-repeat: no-repeat;
      background-position: cover;
      margin: auto;
      height: 120vh;
      width: 100%;
    }
    
    .h1 {
      padding-block: 2rem;
    }
    
    h1 {
      font-size: 6rem;
      text-align: center;
    }
    
    .h1 p {
        text-align: end;
        padding-right: 23.5rem;
        font-size: 2rem;
    }
    
    .flex-div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 8rem;
      padding-inline: 2rem;
      gap: 6rem;
    }
    
    .flex-div div {
      display: flex;
      flex-direction: column;
      gap: 7rem;
    }
  
    .flex-div > * p {
      font-size: 2.3rem;
    }
    
    .right-div {
      width: 30rem;
      text-align: end;
    }
    
    h2 span {
        font-size: 1.5rem;
        font-size: 200;
    }
    
    h2 {
      font-size: 4rem;
    }
  } 