* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

.card {
  background-color: hsla(3, 5%, 60%, 10);
  width: 100%;
  height: 86vh;
  margin: auto;
  margin-top: 1rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.logo-div {
  margin-top: -20rem;
  /* margin-left: 15rem; */
  padding-bottom: 3rem;
  display: flex;
  align-items: start;
  gap: 20rem;
  padding-left: 2.5rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 10rem;
  padding-bottom: 5rem;
  padding-left: 2.5rem;
  line-height: 0.7;
  font-weight: 500;
  padding-top: 10rem;
  padding-bottom: 30rem;
}

.logo-div p {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 3rem;
}

.flex-div {
  display: flex;
  align-items: center;
  gap: 26rem;
  justify-content: center;
}

.img-parent {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.top-div {
  margin-top: -10rem;
}

.bottom-div {
  padding-top: 28rem;
}

.red-top {
  transform: rotate(90deg);
  width: 55rem;
  height: 50rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.redbottom {
  transform: rotate(90deg);
  width: 55rem;
  height: 50rem;
  margin-top: 3.7rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.blue-top {
  width: 55rem;
  height: 50rem;
  margin-left: 2.5rem;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-bottom: -4.5rem;
}

.blue-bottom {
  width: 55rem;
  height: 50rem;
  margin-left: 2.5rem;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

h2 {
  font-size: 5rem;
  font-weight: 100;
  line-height: 0.7;
}

h2 span {
  font-family: "Italianno", sans-serif;
  font-style: italic;
  padding-left: 4rem;
  font-size: 20rem;
}

.titl-div {
  margin-top: 30rem;
  margin-left: 3rem;
  z-index: 12;
}

.titl-div p {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding-bottom: 1.5rem;
}

@media (min-width: 301px) {
  .card {
    background-color: hsla(3, 5%, 60%, 10);
    width: 100%;
    height: 100vh;
    margin-top: 1rem;
  }
  .logo-div {
    margin-top: 1rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: start;
    gap: 7rem;
    padding-left: 2.5rem;
  }
  
  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 6rem;
    padding-bottom: 5rem;
    padding-left: 2.5rem;
    line-height: 0.7;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 30rem;
  }

  .flex-div {
    gap: 1rem;
  }

  .logo-div {
    gap: -6rem;
  }

  .top-div {
    margin-top: 2rem;
    z-index: 2;
  }

  .bottom-div {
    padding-top: 1rem;
  }

  .titl-div {
    margin-top: -91rem;
    margin-left: 3rem;
    z-index: 12;
  }

  .red-top {
    width: 25rem;
    height: 25rem;
 }

 .redbottom {
    width: 25rem;
    height: 25rem;
    margin-top: 1rem;
 }

 .blue-bottom {
   width: 25rem;
   height: 25rem;
 }

 .blue-top {
   width: 25rem;
   height: 25rem;
 }
}

@media (min-width: 501px) {
  .card {
    background-color: hsla(3, 5%, 60%, 10);
    width: 90%;
    height: 130vh;
    margin: auto;
    margin-top: 1rem;
  }


}

@media (min-width: 901px) {
  .card {
    background-color: hsla(3, 5%, 60%, 10);
    width: 80%;
    height: 125vh;
    margin: auto;
    margin-top: 1rem;
  }
}

@media (min-width: 1300px) {
  .card {
    background-color: hsla(3, 5%, 60%, 10);
    width: 100%;
    height: 100vh;
    margin: auto;
    margin-top: 0rem;
  }
}
