* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.background {
  background: url(./images/template2-img.jpg);
  background-repeat: no-repeat;
  margin: auto;
  background-position: top;
  height: 100vh;
  width: 35%;
  padding: 1rem;
  padding-inline: 1rem;
}

.body-div {
  border: 2px solid #f9fafb;
  height: 96vh;
  width: 100%;
}

.h1-div {
  color: #f9fafb;
  text-align: center;
  padding-block: 5rem;
}

.h1-div p {
  font-size: 2.7rem;
}

h1 {
  font-size: 9rem;
}

.flex-div {
  display: flex;
  gap: 9rem;
  padding-inline: 1rem;
  padding-block:9rem 9rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 5rem;
  color: #f9fafb;
}

.bottom-div {
  padding-left: 4rem;
  width: 40%;
}

.bottom-h2 {
  color: #000;
  border-bottom: 3px solid black;
  font-size: 6rem;
  line-height: 0.8;
  padding-bottom: 1rem;
}

span {
  font-weight: 100;
  font-family: "Italianno", cursive;
}

.bottom-h2 + p {
  font-size: 2.5rem;
  padding-top: 1rem;
}

@media (max-width: 900px) {
  .background {
    background: url(./images/template2-img.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    height: 115vh;
    width: 100%;
    padding: 1rem;
    /* padding-inline: 1rem; */
  }
  .body-div {
    border: 2px solid #f9fafb;
    height: 100vh;
    width: 120%;
    border-radius: 15px;
  }

  .h1-div {
    padding-block: 2rem;
  }

  h1 {
    font-size: 6rem;
  }

  .flex-div {
    gap: 5rem;
    padding-block: 7rem;
    justify-content: center;
  }

  h2 {
    font-size: 3rem;
  }

  .bottom-div {
    padding-left: 13rem;
  }

  .bottom-h2 {
    color: #000;
    border-bottom: 3px solid black;
    font-size: 6rem;
    line-height: 0.8;
  }
}

@media (max-width: 1000px) {
  .background {
    background: url(./images/template2-img.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    height: 98vh;
    width: 98%;
    padding: 3rem 6rem 8rem 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .bottom-div {
    width: 40%;
  }
}

/* @media (min-width: 1100px) {
  .background {
    margin: auto;
    background-position: cover;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    padding-inline: 20rem;
    margin-top: 3rem;
  }
  .body-div {
    border: 2px solid #f9fafb;
    height: 97vh;
    width: 100%;
    border-radius: 15px;
  }

  .h1-div {
    color: #f9fafb;
    text-align: center;
    padding-block: 2rem;
  }

  .h1-div p {
    font-size: 1.7rem;
  }

  h1 {
    font-size: 6rem;
  }

  .flex-div {
    gap: 15rem;
    padding: 3rem 3rem;
  }
}
